.content {
	display: flex;
	height: 80vh;
	margin: 12px;
}
.gridListItem {
	background-color: inherit;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	color: #fff;
}
.list {
	display: flex;
	height: 95%;
	overflow-y: hidden;
	flex: 3;
}
