.mainView {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	display: flex;
	padding-top: 12px;
	box-sizing: border-box;
	flex: 1 0;
}
.sideBar {
	flex: 1;
}
.list {
	height: 500px;
	padding: 0;

	>:nth-child(2) {
		z-index: 1;
	}
}
