.singleField {
    display: flex;

    .singleInput {
      --sand-focus-bg-color: #fff;
      color: #e6e6e6;
      width: 9rem;
    }
}

@media screen and (min-width: 100px) and (max-width: 719px) {
  .singleField {
    .singleInput {
      height: 2rem;
      max-width: 5rem;
      &.inputField {
        .input {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 719px) and (max-width: 830px) {
  .singleField {
    .singleInput {
      height: 2rem;
      max-width: 5rem;
      &.inputField {
        .input {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: 830px) and (max-width: 1670px) {
    .singleField {
      .singleInput {
        height: 2rem;
        max-width: 6rem;
        &.inputField {
          .input {
          font-size: 0.9rem;
        }
      }
    }
  }
}
