.tripleField {
    display: flex;
    align-items: center;
    margin-left: 0.75rem;

    .tripleText {
        color:white;
    }

    .tripleInput {
        max-width: 5rem;
        margin: 0 0.3rem;
    }
}
