.outputField {
	--sand-component-bg-color: #7D848C;
	--sand-component-focus-text-color-rgb: 76, 80, 89;
	--sand-component-text-color-rgb: 230, 230, 230;
	--sand-focus-bg-color-rgb: 230, 230, 230;
	--sand-shadow-color-rgb: none;

	.outputBtnContainer {
		display: flex;
		flex-wrap: wrap;

		.outputBtn {
			--sand-focus-bg-color: #fff;
			color: #e6e6e6;
			margin: 18px 36px;

			.icon {
				font-size: 51px;
			}
		}

		.switchContainer{
			padding-top: 24px;

			.switchLabel {
				display: inline-block;
				color: #e6e6e6;
			}

			.switchControl {
				--sand-focus-bg-color-rgb: 125, 132, 140;
				--sand-selected-color-rgb: 0, 0, 0;
				--sand-shadow-color-rgb: none;
				--sand-toggle-on-color: #505050;
				--sand-toggle-on-bg-color: #e6e6e6;
				--sand-toggle-off-color: #4c596a;
				--sand-toggle-off-bg-color: #abaeb3;
				margin: 18px;
			}
		}
	}
}

.outputData {
	font-size: 33px;
	color: #e6e6e6;
	max-height: 1200px;
}
