.outputField {
	--sand-component-bg-color: #7D848C;
	--sand-component-focus-text-color-rgb: 76, 80, 89;
	--sand-component-text-color-rgb: 230, 230, 230;
	--sand-focus-bg-color-rgb: 230, 230, 230;
	--sand-shadow-color-rgb: none;

	.outputBtnContainer {
		display: flex;
		flex-wrap: wrap;

		.outputBtn {
			--sand-focus-bg-color: #fff;
			color: #e6e6e6;
			margin-left: 18px;
			margin-right: 18px;
			text-transform: uppercase;
		}
	}
}

.outputData {
	font-size: 33px;
	color: #e6e6e6;
	max-height: 1200px;
}
