.pendingBlock {
	display: inline-block;
	vertical-align: middle;
}

.useTransitionContent {
	display: inline-block;
	vertical-align: middle;
	margin: 9px 36px;
}

.content {
	margin: 9px 0;
}

.guideText {
	font-size: 39px;
	font-style: italic;
	margin-top: 30px;
}

.demoContainer {
	height: 300px;
	background-color: #333333;
}
