// General styles

.inputField {
    align-items: center;
    padding: 0.25rem 0;

    .labelField {
        color: #e6e6e6;
        margin: 0 0.75rem;
    }
}

.colorBlock[type=color] {
    height: 2.75rem;
    width: 2.75rem;
    min-width: 2.75rem;
    border-color: transparent;
    border-radius: 0.25rem;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border-color: transparent;
    }
}

.customAlert {
    --sand-focus-bg-color: #fff;
    --sand-overlay-bg-color-rgb: 76, 89, 106;
    --sand-text-color: #e6e6e6;
    text-align-last: center;
}

@media screen and (max-width: 720px) {
    .colorBlock[type=color] {
        height: 1.5rem;
        width: 1.5rem;
        min-width: 1.5rem;
    }
}

@media screen and (min-width: 720px) and (max-width: 830px) {
    .inputField {
        .labelField {
            font-size: 0.6rem;
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 1320px) {
    .colorBlock[type=color] {
        height: 1.7rem;
        width: 1.7rem;
        min-width: 1.7rem;
    }
}

@media only screen and (min-width: 1320px) and (max-width: 1670px) {
    .colorBlock[type=color] {
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
    }
    .inputField {
        .labelField {
            font-size: 0.9rem;
        }
    }
}
