.applyButton {
	--sand-component-bg-color: #7D848C;
	--sand-component-focus-text-color-rgb: 76, 80, 89;
	--sand-component-text-color-rgb: 230, 230, 230;
	--sand-focus-bg-color-rgb: 230, 230, 230;
	--sand-shadow-color-rgb: none;
	width: 576px;
}

.closeButton {
	--sand-component-focus-text-color-rgb: 76, 80, 89;
}

.sliderRegion {
	display: flex;
	justify-content: space-between;
}

.coloredButton {
	border-radius: 24px;
	height: 48px;
	width: 576px;
}

.colorPickerPanel {
	--sand-focus-bg-color-rgb: 255, 255, 255;
	--sand-overlay-bg-color-rgb: 76, 89, 106;
	--sand-progress-bg-color-rgb: 55, 58, 65;
	--sand-progress-slider-color: #8D9298;
	--sand-shadow-color-rgb: none;
	--sand-text-color-rgb: 230, 230, 230;
	width: 720px;
}
