.inputFile {
	.presetDropdown {
		--sand-component-text-color: #E6E6E6;
		--sand-component-bg-color: #7D848C;
		--sand-focus-bg-color: #E6E6E6;
		--sand-component-focus-text-color-rgb: 76, 80, 89;
		--sand-shadow-color-rgb: none;
		--sand-selected-bg-color: #3E454D;
		--sand-text-color: #E6E6E6;
	}

	@media screen and (min-width: 720px) and (max-width: 870px) {
		font-size: 33px;
	}

	@media only screen and (min-width: 870px) and (max-width: 1670px) {
		font-size: 42px;
	}
}
