@media (min-width: 1024px) {
	.nav, .content {
		position: absolute;
		top: 0;
		bottom: 0;
		font-size: 24px;
	}

	.nav {
		width: 20%;
	}

	.view {
		width: 270px;
	}

	.content {
		width: auto;
		left: 20%;
		right: 0;
		overflow: hidden;
	}
}
