// CustomizePanel.module.less
//
.customizePanel {
	height: 100%;

	.customizeSection {
		padding: 24px;

		.resetBtn {
			width: fit-content;
			align-self: flex-end;
		}
	}
}

.footer {
	border-top: 1px solid gray;
	justify-content: space-around;
	padding-block: 10px;
}
