.sandstone-theme {
	/* Skin Name:  ;/* */
	--sand-text-color: #FB9039; /* Normal Text Color */
	--sand-text-sub-color: #FBA44D; /* Subtitle Text Color */
	--sand-focus-text-color-rgb: 251, 184, 97; /* Focused Text Color (Must be RGB comma separated format) */
	--sand-focus-bg-color: #855DA8; /* Focused Background Color */
	--sand-selected-color-rgb: 251, 204, 117; /* Selected Color (Must be RGB comma separated format) */
	--sand-selected-bg-color: #855DBC; /* Selected Background Color */
	--sand-overlay-bg-color-rgb: 133, 93, 148; /* Overlay Panel Background Color (Must be RGB comma separated format) */
	--sand-toggle-on-bg-color: #855DD0; /* Toggle On Background Color */
	--sand-toggle-off-color: #FBE089; /* Toggle Off Color */
	--sand-toggle-off-bg-color: #855DE4; /* Toggle Off Background Color */
}
