.discrete,
.nonDiscrete {
    transition: all 3s ease;
    background-color: blue;
    width: 100%;
    text-align: left;

    @starting-style {
        .discrete,
        .nonDiscrete {
            text-align: right;
            background-color: red;
        }
    }
}

.discrete {
    transition-behavior: allow-discrete;
}

.nonDiscrete {
    transition-behavior: normal;
}
