.backLink {
	z-index: 2;
	margin-right: 0;
	margin-top: 24px;

	.backButton {
		background-color: black;
		color: #ccc;
		transition: all .5s ease-in-out;
	}
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
