// MainPanel.module.less

.mainPanel {
    height: 100%;

    .customizeSection {
        padding: 1.5rem 1rem 1rem;

        .appTitle {
            color: #FB9039;
            padding-bottom: 1rem;
            border: none;
            font-weight: 200;
        }

        .switchLabel {
            display: inline-block;
            color: #e6e6e6;
        }

        .switchControl {
            --sand-focus-bg-color: #7d848c;
            --sand-selected-color-rgb: 0, 0, 0; /* Selected Color (Must be RGB comma separated format) */
            --sand-toggle-on-bg-color: #e6e6e6; /* Toggle On Background Color */
            --sand-toggle-off-color: #4c596a; /* Toggle Off Color */
            --sand-toggle-off-bg-color: #abaeb3 ; /* Toggle Off Background Color */
            margin: 0.375rem;
        }
    }

    .previewSection {
        background-color: #4c596a;
        border-radius: 0.25rem;
        margin: 1.5rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;

        .previewTitle {
            --sand-text-color: #e6e6e6;
            display: flex;
            justify-content: center;
            padding: 0.5rem 0;
            margin: 0 0.5rem;
            font-weight: 200;
        }

        .previewComponents {
            justify-content: space-around;

            .previewButtons {
                & > * {
                    margin: 0.3rem;
                }
            }

            .previewDropdown,
            .previewPopup {
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 500px) {
    .previewSection {
        .previewComponents {
            .previewButtons {
                flex-direction: column;
                align-items: center;
                & > * {
                    min-width: 6rem;
                    font-size: 0.9rem;
                }
            }
            .previewCheckboxItem {
                margin: 0 2.3rem;
            }
            .previewSwitchItem {
                margin: 0 2.3rem;
            }
            .previewSlider {
                margin: 0 2.7rem;
            }
            .previewRangePicker {
                margin: 0 1rem;
            }
            .previewPopup {
                min-width: 5rem;
            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 719px) {
    .previewSection {
        .previewComponents{
            justify-content: space-evenly;
            .previewButtons {
                flex-direction: column;
                align-items: center;
                & > * {
                    min-width: 10rem;
                }
            }
            .previewSlider {
                margin: 0 2.7rem;
            }
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 870px) {
    .customizeSection {
        .appTitle {
            font-size: 1rem;
        }
        .switchLabel {
            font-size: 0.6rem;
        }
    }
    .previewSection {
        .previewComponents {
            .previewCheckboxItem {
                margin: 0 4.5rem;
            }
            .previewSwitchItem {
                margin: 0 4.5rem;
            }
            .previewSlider {
                margin: 0 4.5rem;
            }
            .previewPopup {
                min-width: 8rem;
            }
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 1170px) {
    .previewSection {
        * {
            font-size: 0.7rem;
        }
        .previewCheckboxItem {
            margin: 0 4rem;
        }
        .previewSwitchItem {
            margin: 0 4rem;
        }
        .previewSlider {
            margin: 0.2rem 4rem;
        }
        .previewRangePicker {
            margin: 0.3rem 4rem;
        }
    }
}

@media screen and (min-width: 719px) and (max-width: 1290px) {
    .previewSection {
        .previewButtons {
            flex-direction: column;
            align-items: center;
            & > * {
                min-width: 380px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 1370px) {
    .customizeSection {
        .test {
            flex-direction: column;

            p {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (min-width: 1170px) and (max-width: 1670px) {
    .customizeSection {
        .appTitle {
            font-size: 1.1rem;
        }
        .switchLabel {
            font-size: 0.9rem;
        }
    }

   .previewSection {
        .previewComponents {
            * {
                font-size: 0.9rem;
            }
            .previewButtons {
                display: flex;
                justify-content: center;
                & > * {
                    min-width: 380px;
                }
            }
            .previewCheckboxItem {
                margin: 0 2rem;
            }
            .previewSwitchItem {
                margin: 0 2rem;
            }
            .previewSlider {
                margin: 0.1rem 2rem;
            }
            .previewRangePicker {
                margin: 0.2rem 2rem;
            }
            .previewDropdown {
                margin: 0 2rem;
            }
            .previewPopup {
                margin: 0.7rem 2rem;
            }
        }
   }
}
