// MainPanel.module.less

.mainPanel {
	height: 100%;

	.customizeSection {
		padding: 72px 48px 48px;

		.appTitle {
			color: #FB9039;
			padding-bottom: 48px;
			border: none;
			font-weight: 200;
		}

		.switchLabel {
			display: inline-block;
			color: #e6e6e6;
		}

		.switchControl {
			--sand-focus-bg-color: #7d848c;
			--sand-selected-color-rgb: 0, 0, 0; /* Selected Color (Must be RGB comma separated format) */
			--sand-toggle-on-bg-color: #e6e6e6; /* Toggle On Background Color */
			--sand-toggle-off-color: #4c596a; /* Toggle Off Color */
			--sand-toggle-off-bg-color: #abaeb3 ; /* Toggle Off Background Color */
			margin: 18px;
		}
	}

	.previewSection {
		background-color: #4c596a;
		border-radius: 12px;
		margin: 72px;
		padding: 0 24px;
		display: flex;
		justify-content: center;

		.previewTitle {
			--sand-text-color: #e6e6e6;
			display: flex;
			justify-content: center;
			min-height: auto;
			padding: 24px 0;
			margin: 0 24px;
			font-weight: 200;
		}

		.previewComponents {
			justify-content: space-around;

			.previewButtons {
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 30px;

				.button {
					flex: 1 1 0;
					min-width: 380px;
					margin: 6px 9px;
				}

				& > * {
					margin: 15px;
				}
			}

			.previewDropdown,
			.previewPopup {
				align-self: center;
			}
		}
	}
}

@media screen and (min-width: 100px) and (max-width: 500px) {
	.previewSection {
		.previewComponents {
			.previewButtons {
				flex-direction: column;
				align-items: center;

				& > * {
					min-width: 288px;
					font-size: 42px;
				}
			}

			.previewCheckboxItem,
			.previewSwitchItem {
				margin: 0 111px;
			}

			.previewSlider {
				margin: 0 129px;
			}

			.previewRangePicker {
				margin: 0 48px;
			}

			.previewPopup {
				min-width: 240px;
			}
		}
	}
}

@media screen and (min-width: 500px) and (max-width: 719px) {
	.previewSection {
		.previewComponents{
			justify-content: space-evenly;

			.previewButtons {
				flex-direction: column;
				align-items: center;

				& > * {
					min-width: 480px;
				}
			}

			.previewSlider {
				margin: 0 129px;
			}
		}
	}
}

@media screen and (min-width: 720px) and (max-width: 870px) {
	.customizeSection {
		.appTitle {
			font-size: 48px;
		}

		.switchLabel {
			font-size: 27px;
		}
	}
	.previewSection {
		.previewComponents {
			.previewCheckboxItem,
			.previewSwitchItem,
			.previewSlider {
				margin: 0 216px;
			}

			.previewPopup {
				min-width: 384px;
			}
		}
	}
}

@media screen and (min-width: 720px) and (max-width: 1170px) {
	.previewSection {
		* {
			font-size: 33px;
		}

		.previewCheckboxItem,
		.previewSwitchItem {
			margin: 0 192px;
		}

		.previewSlider {
			margin: 9px 192px;
		}

		.previewRangePicker {
			margin: 15px 192px;
		}
	}
}

@media screen and (min-width: 719px) and (max-width: 1290px) {
	.previewSection {
		.previewButtons {
			flex-direction: column;
			align-items: center;

			& > * {
				min-width: 380px;
			}
		}
	}
}

@media screen and (max-width: 1370px) {
	.customizeSection {
		.test {
			flex-direction: column;

			p {
				white-space: nowrap;
			}
		}
	}
}

@media screen and (min-width: 1170px) and (max-width: 1670px) {
	.customizeSection {
		.appTitle {
			font-size: 51px;
		}

		.switchLabel {
			font-size: 42px;
		}
	}

	.previewSection {
		.previewComponents {
			.previewButtons,
			.previewCheckboxItem,
			.previewSwitchItem,
			.previewSlider,
			.previewRangePicker,
			.previewDropdown,
			.previewPopup {
				font-size: 42px;
			}

			.previewButtons {
				.button {
					font-size: 42px;
				}
			}

			.previewCheckboxItem,
			.previewSwitchItem,
			.previewDropdown {
				margin: 0 96px;
			}

			.previewSwitchItem {
				.switch {
					.icon {
						font-size: 84px;
					}
				}
			}

			.previewSlider {
				margin: 6px 96px;
			}

			.previewRangePicker {
				margin: 9px 96px;
			}

			.previewPopup {
				margin: 33px 96px;
			}
		}
	}
}
