.app {
	height: 100vh;
	background-color: black;
}

// @keyframes rules for animations

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-from-bottom {
	from { transform: translateY(100%); }
	to { transform: translateY(0%); }
}

@keyframes slide-from-left {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); }
}

@keyframes slide-from-right {
	from { transform: translateX(100%); }
	to { transform: translateX(0%); }
}

@keyframes slide-from-top {
	from { transform: translateY(-100%); }
	to { transform: translateY(0%); }
}

@keyframes slide-to-left {
	to { transform: translateX(-100%); }
}

@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

// view-transitions

::view-transition-new(reveal-button) {
	animation: wobble 1s ease 0s 1 normal forwards;
}

::view-transition-old(video-cell),
::view-transition-new(video-cell) {
	animation-duration: 1s;
}

::view-transition-new(video-cell) {
	animation: fade-in 2.5s ease-in forwards;
}

::view-transition-new(toCenter-0) {
	animation: 500ms ease-in slide-from-left;
}

::view-transition-new(leftRight-0) {
	animation: 500ms ease-in slide-from-left;
}

::view-transition-new(toCenter-1) {
	animation: 500ms ease-in slide-from-top;
}

::view-transition-new(leftRight-1) {
	animation: 500ms ease-in slide-from-right;
}

::view-transition-new(toCenter-2) {
	animation: 500ms ease-in slide-from-right;
}

::view-transition-new(leftRight-2) {
	animation: 500ms ease-in slide-from-left;
}

::view-transition-new(toCenter-3) {
	animation: 500ms ease-in slide-from-left;
}

::view-transition-new(leftRight-3) {
	animation: 500ms ease-in slide-from-right;
}

::view-transition-new(toCenter-4) {
	animation: 500ms ease-in slide-from-bottom;
}

::view-transition-new(leftRight-4) {
	animation: 500ms ease-in slide-from-left;
}

::view-transition-new(toCenter-5) {
	animation: 500ms ease-in slide-from-right;
}

::view-transition-new(leftRight-5) {
	animation: 500ms ease-in slide-from-right;
}
