@import '../styles/sampleTheme.less';

.sandboxSample {
	.sampleRoot();
}

.description {
	.sampleDescription();
}

.demoPanel {
	.sampleDemoPanel();
}

.toolbar {
	margin-bottom: 24px;
}

.stage {
	.sampleStage();
	min-height: 504px;
	margin-top: 0;
	overflow: auto;
}
