.sandstone-theme {
	/* Skin Name: Purple Theme; */
	--sand-bg-color: #272829;
	--sand-text-color: #E7E7E7;
	--sand-text-sub-color: #ACB0B5;
	--sand-shadow-color-rgb: 0, 0, 0;
	--sand-component-text-color: #E6E6E6;
	--sand-component-bg-color: #7D848C;
	--sand-focus-text-color: #303030;
	--sand-focus-bg-color: #E7E7E7;
	--sand-component-focus-text-color-rgb: 76, 80, 89;
	--sand-selected-color-rgb: 230, 230, 230;
	--sand-selected-text-color: #E6E6E6;
	--sand-selected-bg-color: #77618F;
	--sand-disabled-focus-bg-color: #ABAEB3;
	--sand-disabled-selected-color: #4C5059;
	--sand-disabled-selected-bg-color: #E6E6E6;
	--sand-disabled-selected-focus-color: #E6E6E6;
	--sand-disabled-selected-focus-bg-color: #4C5059;
	--sand-fullscreen-bg-color: #000000;
	--sand-overlay-bg-color-rgb: 36, 36, 36;
	--sand-selection-color: #4C5059;
	--sand-selection-bg-color: #3399FF;
	--sand-toggle-off-color: #AFB0B0;
	--sand-toggle-off-bg-color: #474747;
	--sand-toggle-on-color: #E6E6E6;
	--sand-toggle-on-bg-color: #77618F;
	--sand-progress-color-rgb: 230, 230, 230;
	--sand-progress-buffer-color: #6B6D73;
	--sand-progress-bg-color: #373A41;
	--sand-progress-slider-color: #8D9298;
	--sand-checkbox-color: #E6E6E6;
	--sand-item-disabled-focus-bg-color: #E6E6E6;
	--sand-keyguide-bg-color-rgb: 107, 109, 115;
	--sand-alert-overlay-bg-color-rgb: 202, 203, 204;
	--sand-alert-overlay-text-color: #2E3239;
	--sand-alert-overlay-text-sub-color: #2E3239;
	--sand-alert-overlay-focus-text-color: #575E66;
	--sand-alert-overlay-disabled-selected-color: #FFFFFF;
	--sand-alert-overlay-disabled-selected-bg-color: #788688;
	--sand-alert-overlay-disabled-selected-focus-color: #E6E6E6;
	--sand-alert-overlay-disabled-selected-focus-bg-color: #4C5059;
	--sand-alert-overlay-progress-color-rgb: 107, 109, 115;
	--sand-alert-overlay-progress-bg-color: #A1A1A1;
	--sand-alert-overlay-checkbox-color: #858B92;
	--sand-alert-overlay-checkbox-disabled-selected-color: #FFFFFF;
	--sand-alert-overlay-formcheckboxitem-focus-text-color: #575E66;
	--sand-alert-overlay-item-disabled-focus-bg-color: #989CA2;
}
