.tripleField {
    display: flex;
    align-items: center;
    margin-left: 0.75rem;

    .tripleText {
        color: #e6e6e6;
    }

    .tripleInput {
        --sand-focus-bg-color: #fff;
        color: #e6e6e6;
        max-width: 5rem;
        margin: 0 0.3rem;
    }
}

@media only screen and (max-width: 1670px) {
    .tripleField {
        .tripleText {
            font-size: 0.9rem;
        }
        .tripleInput {
            height: 2rem;
            max-width: 3.7rem;
            &.inputField {
                .input {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
