.colorPickerPanel {
	--sand-focus-bg-color: #fff;
	--sand-overlay-bg-color-rgb: 76, 89, 106;
	--sand-progress-bg-color: #373A41;
	--sand-progress-slider-color: #8D9298;
	--sand-shadow-color-rgb: none;
	--sand-text-color: #e6e6e6;
	width: 720px;
}

.coloredButton {
	border-radius: 25px;
	height: 48px;
	width: 576px;
}
