.colorPickerPanel {
  --sand-focus-bg-color: #fff;
  --sand-overlay-bg-color-rgb: 76, 89, 106;
  --sand-text-color: #e6e6e6;
  width: 15rem;
}

.coloredButton {
  border-radius: 25px;
  height: 1rem;
  width: 12rem;
}
