.main {
  .appLayout {
    padding: 15px;
  }

  .buttonCell {
    padding-top: 15px;
  }

  .revealButton {
    view-transition-name: reveal-button;
    contain: paint;
  }

  .leftRight,
  .toCenter,
  .video {
    display: flex;
  }

  .videoCell {
    view-transition-name: video-cell;
  }
}
